.textTitleData {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #69a1bb;
    margin: 0px;
}
.textDescriptionData {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: #69a1bb;
    margin: 0px;
}

.text-1 {
    margin-bottom: 0px !important;
}